nb_black
pandas == 1.3.5
numpy == 1.19.5
requests
tabulate
future
h2o
urllib
plotly
seaborn == 0.11.2
wordcloud
math
statsmodels
sklearn
scipy
shapely
yellowbrick
matplotlib
psycopg2-binary

apt install default-jdk