{% extends 'base.html' %}


{% block body %}
<br><br><br><br><br><br><br><br>
<div class="section bg-primary pt-0 section-lg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-lg-4 mb-6 mb-md-5">
                <div class="profile-card mb-5">
                    <div class="card bg-primary shadow-soft border-light">
                        <div class="card-header">
                            <div class="profile-image bg-primary shadow-inset border border-light rounded mx-auto p-3 mt-n6">
                                <img src="{{ url_for('static',filename='/img/profile/Kritik.jpeg') }}" class="card-img-top rounded" alt="Violet2">
                            </div>
                        </div>
                        <div class="card-body">
                            <h3 class="h5 mb-2">Violet2</h3>
                            <span class="h6 font-weight-normal text-gray mb-3">Aspiring Data Scientists</span>
                            <ul class="list-unstyled d-flex my-3">
                                <li>
                                    <a href="https://github.com/csridlen/eco395m-project-2/tree/main" target="_blank" aria-label="twitter social link" class="icon icon-xs icon-twitter mr-3">
                                        <span class="fab fa-github"></span>
                                    </a>
                                </li>
                            </ul>
                            <p class="card-text">Hi, we are Violet2, a group of MA Economics students at UT Austin learning Python.</p>
                            <a href="https://github.com/csridlen/eco395m-project-2/tree/main" target="_blank" class="btn btn-primary btn-sm">View our Github</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-10">
                <div class="alert alert-secondary alert-dismissible shadow-soft fade show" role="alert">
                    <span class="alert-inner--icon"><span class="far fa-handshake"></span></span>
                    <span class="alert-inner--text"> We hope you enjoy our final project!</span>
                    <button type="button" class="close text-dark" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br>
{% endblock %}

